<div class="jumbotron">
  <h1>Welcome to our mini-chat!</h1>
  <p class="lead">Please sign in</p>
  <%= link_to 'T','/auth/twitter', class: 'social twitter' %>
  <%= link_to 'F','/auth/facebook', class: 'social facebook' %>
</div>